.taskWrapper {
    background-color: #ccc;
    border-radius: 10px;
    box-shadow: 0 0 14px 1px rgba(0, 0, 0, .2);
    padding: 20px;
    margin-bottom: 20px;
}

.taskHeading {
    font-size: 20px;
    margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.taskDescription {
    font-size: 16px;

}

.taskSelect{
  margin-bottom: 10px;
}

button{
  border-radius: 10%;
  padding: 5px 2px;
  cursor: pointer;
}

button:hover{

}


